<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.16.0/css/ace.min.css">
    <title>Kaeli Web</title>
    <style type="text/css" media="screen">
		.editor { min-height: 50px; }
    </style>
</head>
<body class="dark:bg-[#383838] h-full">
    <div class="w-full mx-auto pb-2 border-1 border-[#616161] border-b">
        <nav class="border-gray-200 pt-1 flex">
            <div class="flex flex-wrap ml-2 w-[5%]">
                <a href="#" class="flex flex-wrap mr-5">
                    <svg class="h-10 mr-3" width="51" height="70" viewBox="0 0 51 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M1 53H27.9022C40.6587 53 51 42.7025 51 30H24.0978C11.3412 30 1 40.2975 1 53Z" fill="#76A9FA"></path><path d="M-0.876544 32.1644L-0.876544 66.411C11.9849 66.411 22.4111 55.9847 22.4111 43.1233L22.4111 8.87674C10.1196 8.98051 0.518714 19.5571 -0.876544 32.1644Z" fill="#A4CAFE"></path><path d="M50 5H23.0978C10.3413 5 0 15.2975 0 28H26.9022C39.6588 28 50 17.7025 50 5Z" fill="#1C64F2"></path></g><defs><clipPath id="clip0"><rect width="51" height="70" fill="white"></rect></clipPath></defs></svg>
                    <span class="self-center w-full text-md font-semibold whitespace-nowrap">Kaeli PSInt</span>
                </a>
            </div>
            <div class="container dark:text-white ml-5 flex flex-wrap items-center justify-between">
                <div class="w-full flex">
                    <input class="bg-transparent p-1 border-1 hover:border-white" type="text" placeholder="sin_nombre">
                </div>
                <button data-collapse-toggle="mobile-menu" type="button" class="md:hidden ml-3 text-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 rounded-lg inline-flex items-center justify-center" aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <div class="hidden md:block w-full md:w-auto" id="mobile-menu">
                    <ul class="flex-col md:flex-row flex md:space-x-2 mt-4 md:mt-0 md:text-sm md:font-medium">
                        <li class="p-1 rounded-lg hover:bg-gray-50 hover:bg-opacity-[10%]">
                            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="text-gray-700 dark:text-white hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 pl-3 pr-4 py-2 md:p-0 font-medium flex items-center justify-between w-full md:w-auto">Archivo</button>
                            <div id="dropdownNavbar" class="hidden bg-white border dark:bg-[#383838] text-base z-10 list-none divide-y divide-gray-100 rounded shadow my-4 w-44">
                                <ul class="py-1" aria-labelledby="dropdownLargeButton">
                                    <li>
                                        <p class="hover:cursor-pointer text-sm  hover:bg-[#616161] text-gray-700 dark:text-white block px-4 py-2">Cambiar nombre</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
	<div id="contenEditor" class="flex-grow flex flex-wrap p-4">
		<div class="w-full mb-2">
            <div id="editor">
            </div>
            <div class="resultado mt-1 w-full hidden overflow-hidden rounded-b-lg flex border border-[#616161]">
                <div class="p-1 bg-[#b0b0b0] flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                    </svg>                      
                </div>
                <div id="resultado" class="p-1 text-white w-full bg-[#303030]">Ejecutando...</div>
            </div>
        </div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.16.0/src-min-noconflict/ace.min.js"></script>
<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
<script src="{{url_for('static', filename='kaeli-syntax.js')}}"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
</html>